header {
  background:#090a0b;
  padding: 20px;

  ul {
    display: flex;
    flex-direction: row;

    a {
      font-weight: 500;
      text-decoration: none;
      color: #fff;
    }

    li:not(:last-child) {
      margin-right: 20px;
    }

    li:last-child {
      right: 20px;
      position:absolute
    }
  }
}