body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
  background: #24292e;
}

.container {
  padding: 30px 50px 50px;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

ul,
ul li {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

article {
  width: 100%;
  color: #fff;
}